
<h1>Straubel Leadership Awards pre-application</h1>


<%= form_tag do %>

  <% @questions.each do |_name, question| %>
    <%= question question %>
  <% end %>

  <%= submit_tag 'Submit', class: 'sqs-donate-button sqs-suppress-edit-mode sqs-system-button sqs-editable-button' %>

<% end %>