
<div class="question">
  <h2><%= title %></h2>

  <% if type == 'textarea' %>
    <textarea name="<%= name %>"></textarea>
  <% else %>
    <input type="<%= type %>" name="<%= name %>">
  <% end %>

</div>
