<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @response.session %>
</p>

<p>
  <strong>View:</strong>
  <%= @response.view %>
</p>

<p>
  <strong>Answers:</strong>
  <%= @response.answers %>
</p>

