// Place all the styles related to the form controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {

  margin: 15px 0 25px 0;

  textarea {
    min-height: 100px;
    resize: vertical;
    width: 100%;
  }

  > input[type="text"] {
    border: 1px solid;
    width: 400px;
    max-width: 100%;
  }

  .rank {
    background-color: #fff;
    list-style: none;
    padding: 0;

    li {
      background-color: #fff;
      padding: 4px;
      cursor: move;
      //border: 1px solid black;
      margin-bottom: 3px;

      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      border-radius: 0 2px 0 2px;
    }

    li.sortable-ghost {
      background: #EEE;
    }
  }
}
